.asset-form-wrapper {
	backdrop-filter: blur(30px);
}

.asset-form-wrapper .ant-input,
.asset-form-wrapper .ant-select-selector {
	background: rgba(255, 255, 255, 0.06) !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
	border-radius: 12px !important;
}

.asset-form-wrapper .ant-btn {
	border-radius: 14px;
	height: 45px;
	font-weight: 600;
}