@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
  background-attachment: fixed;
  min-height: 100vh;
}


a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #141414 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
:where(.css-dev-only-do-not-override-13gnhae).ant-modal .ant-modal-content {
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 100%;
}
:where(.css-dev-only-do-not-override-36rf97).ant-modal .ant-modal-content {
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 100%;
}