@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

.ant-layout-header, 
.ant-menu-horizontal, 
.ant-menu {
  border: none !important;
  box-shadow: none !important;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1c1c1c inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
