.assetModal :global(.ant-modal-content) {
	background: rgba(15, 15, 15, 0.9);
	border-radius: 20px;
	backdrop-filter: blur(20px);
}
.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.assetInfo {
	display: flex;
	gap: 12px;
	align-items: center;
}

.assetIcon {
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

.noMargin {
	margin: 0;
}

.value {
	margin-top: 4px;
	font-weight: 500;
}
.statusTag {
    border: none;
}

.modalActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
