.header {
    height: 72px;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0 16px;
    position: sticky; 
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); 
    border-bottom: none !important;
    background: transparent !important;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.authWrapper {
    display: flex;
    align-items: center;
}
.mobileMenuButton {
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 20px;
    font-weight: 700;
    color: #00FFA0;
    cursor: pointer;
    letter-spacing: -0.5px;
    transition: opacity 0.2s;
}
.logo:hover {
    opacity: 0.8;
}
@media (max-width: 768px) {
    .header {
        height: 64px;
    }
    .logo {
        position: absolute;
        left: 30%;
        bottom: 0%;
        transform: translateX(-50%);
    }
    .logo:hover {
    opacity: 0.8;
    }
}