.textBlock {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}
.option {
	display: flex;
	align-items: center;
	gap: 10px;
}

.coinIcon {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}

.coinName {
	font-weight: 500;
	color: white;
}

.network {
	font-size: 12px;
	color: #9aa4bf;
}